<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Settings</h1>

  <p>Welcome, <%= user %>!</p>
  <ul>
    <li><a href="/changepassword">Change Password</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</body>
</html>
