<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Change Password</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>
  <% if (success) { %>
    <p style="color:green;"><%= success %></p>
  <% } %>

  <form action="/changepassword" method="POST">
    <label>Old Password:</label>
    <input type="password" name="oldPassword" required><br><br>

    <label>New Password:</label>
    <input type="password" name="newPassword" required><br><br>

    <label>Confirm New Password:</label>
    <input type="password" name="confirmPassword" required><br><br>

    <button type="submit">Change Password</button>
  </form>

  <p><a href="/settings">Back to Settings</a></p>
</body>
</html>
